<div class="footer">
  <div class="footer-links">
    <a href="#"><p>Contact</p></a>
    <a href="#"><p>À propos de nous</p></a>
    <a href="#"><p>Vous êtes professionnel de santé ?
</p></a>
  </div>
  <div class="footer-copyright">
    PharmaDrive France <i class="fas fa-heart"></i>
  </div>
</div>
