<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/02/50/835617f07e419bb.jpg);">
  <div class="container">
    <h1><span class="homescript"></span></h1>
    <p>Rapidité et efficacité lors du retrait de medicaments à la pharmacie.</p>
  </div>
</div>
