<div class="banner" style="background-image: url('<%= image_path "background.png" %>')">
  <div class="container">
    <h1><span class="homescript" style="font-size:1.5em;"></span></h1>
    <p style="font-size:1.5em;">Rapidité et efficacité lors du retrait de médicaments en pharmacie.</p>
  </div>
</div>
