<div class="banner" style="background-image: url('<%= image_path "background.png" %>')">
  <div class="container">
    <h1><span class="homescript"></span></h1>
    <p>Rapidité et efficacité lors du retrait de médicaments à la pharmacie.</p>
  </div>
</div>
