<%= render 'bannerhome' %>

<div class="container-fluid" >
  <div class="row text-center">




    <div class="p-5 col-6 h500 bkgblc"><p><i class="fas fa-user-md colorhome fontfa"></i></p></div>

    <div class="p-5 col-6 colorhome h500 bkgblc"><p class="colorhome"> <h2 class="colorhome">Medecin</h2> Gérez vos patients en 1 clics. <br>
    Créez, archivez, rédigez simplement et rapidement vos ordonnances.
    </p> </div>



    <div class="p-5 col-6 colorhome h500"><p class="colorhome"> <h2 class="colorhome">Pharmacien</h2> Offrez à vos clients le meilleur service. <br>
Anticipez la préparation de vos médicaments.
</p> </div>
    <div class="p-5 col-6 h500"><i class="fas fa-pills colorhome fontfa"></i></div>

    <div class="p-5 col-6 h500 bkgblc"><i class="fas fa-users colorhome fontfa"></i></div>

    <div class="p-5 col-6 colorhome h500 bkgblc"><p class="colorhome"> <h2 class="colorhome">Patient</h2> Moins de temps d’attente et plus de conseil en Pharmacie. <br>
    Recevez votre ordonnance par email.
    </p> </div>



      <div class="col-3 my-5"><i class="fas fa-laptop-code colorhome fontfapt"></i><br><br>Digitalisation de l'ordonnance</div>
    <div class="col-3 my-5"><i class="fas fa-hourglass colorhome fontfapt"></i><br><br>Retrait rapide en Pharmacie</div>
    <div class="col-3 my-5"><i class="fas fa-lock colorhome fontfapt"></i><br><br>Sécurisation des ordonnances</div>
    <div class="col-3 my-5"><i class="fas fa-pagelines colorhome fontfapt"></i><br><br>Réduction de papier</div>
      </div>
</div>
<div class="container-fluid bkgblc">
<div class="container mt-4 py-4 ">
  <div class="row">
    <div class="col-6">
      <h2>Ils nous ont fait confiance !</h2>
      <div class="card-product">

  <div class="card-product-infos">
    <h2>Laurie Blabla, 26 ans, <strong>Medecin généraliste</strong></h2>
    <p>Depuis que je suis équipée avec Pharmadrive, je suis vraiment heureuse.</p>
  </div>
</div>
      <div class="card-product">

  <div class="card-product-infos">
    <h2>Laurie Blabla, 26 ans, <strong>Medecin généraliste</strong></h2>
    <p>Depuis que je suis équipée avec Pharmadrive, je suis vraiment heureuse.</p>
  </div>
</div>      <div class="card-product">

  <div class="card-product-infos">
    <h2>Laurie Blabla, 26 ans, <strong>Medecin généraliste</strong></h2>
    <p>Depuis que je suis équipée avec Pharmadrive, je suis vraiment heureuse.</p>
  </div>
</div>
    </div>
    <div class="col-6">
    <div id="map" style="
  height: 500px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div></div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
