// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "search-bar";

@import "card-list";
@import "card-patient";
@import "index-list";


.container-fluid {
  background-color : #F8F9FA;
  a {
    text-decoration: none;
  }
}

.search-barre {
  width: 100vh;
  margin-right: 0px;
  margin-left: 0px;
}
