// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

@import "card-list";
@import "card-patient";


.container-fluid {
  background-color : #F8F9FA;
  a {
    text-decoration: none;
  }
}

.search-barre {
  width: 100vh;
  margin-right: 0px;
  margin-left: 0px;
}
.font05 {
  font-size: 0.5em;
}

.font08 {
  font-size: 0.8em !important;
}
.font12 {
  font-size: 1.2em;
}
.font15 {
  font-size: 1.5em;
}
.green{
  color: lightgreen;
}
