.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker-pharmacy {
  background-image: url('https://res.cloudinary.com/diiv3ck97/image/upload/v1567005701/pharmacyicon_gpsdvs.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-doctor {
  background-image: url('https://res.cloudinary.com/diiv3ck97/image/upload/v1567005689/doctoricon_k6by2x.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#pharmselect {
  font-weight: bold;
  text-align: center;
}

#addresselect {
  text-align: center;
}

