.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  color: #5CD4CB !important;
}

.navbar-lewagon .navbar-brand {
  font-size: 20px;
  text-align: center;
}

.navbar-lewagon .navbar-brand p {
  margin: 0px !important;
}

#navbarDropdown {
  color: rgba(0, 0, 0, 0.9);
}



